
.body {
  color: white;
}

.desc {
  color: rgb(222, 222, 222);
  display: flex;
  justify-content: start;
  padding-left: 4em;
  background-color: #0f172a;
  /* padding-top: 3em; */
}
.desc > h1 {
  font-size: 3em;
  font-weight: 700;
}

.event {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.ongoing {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-weight: bold;
  font-size: 3rem;
  /* margin: 20px; */
  padding-bottom: 20px;
  padding-top: 1.5em;
}
