.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 98.5vw;
    background-color: transparent;
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.header1{
    display: flex;
    gap: 1em;
    padding-left: 1em;
    background-color: transparent;
    backdrop-filter: blur(5px); 
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}
.links1{
    color: rgb(216, 216, 216);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    backdrop-filter: blur(5px); 
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}
.links1:hover{
    color: white;
}

.header2{
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    padding-right: 1em;
    background-color: transparent;
    backdrop-filter: blur(5px); 
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.links2{
    color: rgb(216, 216, 216);
    background-color: transparent;
    backdrop-filter: blur(5px); 
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.links2:hover{
    color: white;
}

.icons{
    font-size: 22px;
    background-color: transparent;
    backdrop-filter: blur(5px); 
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  }