.joinS {
  font-size: 2rem;
  font-weight: bold;
  background-image: linear-gradient(-45deg, #ff0081, #ffd600, #ff6f00);
  background-size: 300%;
  background-clip: text;
  color: transparent;
  animation: gradientAnimation 5s ease-in-out infinite;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.joinS:hover {
  transform: scale(1.1);
  text-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 98.5vw;
  background-color: transparent;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
  z-index: 999;
  padding: 0.5em;
}

.header1 {
  display: flex;
  gap: 1em;
  padding-left: 1em;
  background-color: transparent;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
}
.links1 {
  color: rgb(216, 216, 216);
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
}
.links1:hover {
  color: white;
}

.header2 {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  padding-right: 1em;
  background-color: transparent;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
}
.header2 > a {
  background-color: transparent;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
}

.links2 {
  color: rgb(216, 216, 216);
  background-color: transparent;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
    text-decoration: none;
}

.links2:hover {
  color: white;
}

.icons {
  font-size: 22px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
}

@media (min-width: 320px) and (max-width: 450px) {
  .header1 {
    display: flex;
    gap: 0.4em;
    padding-top: 0.2em;
  }
  .links1 {
    font-size: 1em;
  }
  .header {
    width: 100%;
    gap: 1em;
  }
  .header2 {
    display: flex;
    align-items:end;
    gap: 0.5em;
    cursor: pointer;
    padding-right: 0em;
  }
  .header2 > a {
    font-size: 0.2em;
  }
  .links2 {
    font-size: 0.2em;
    background-color: white;
  }
  .joinS {
    font-size: 0.9rem;
    font-weight: 600;
    width: 8em;
    align-items: center;
    padding-top: 0.4em;
    background-image: linear-gradient(-45deg, #ff0081, #ffd600, #ff6f00);
    background-size: 300%;
  }
}
